body {
	background-image: url(images/SL-110521-46540-07.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(255, 192, 203, 0.5);
	font-family: "Lobster", cursive;
}

#audio {
    text-align: right;
}

#intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1),
		/* white, 80% opacity */ rgba(255, 204, 217, 0.1) /* pink, 80% opacity */
	);
	padding: 3rem;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#intro2 {
    display: none;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1),
		/* white, 80% opacity */ rgba(255, 204, 217, 0.1) /* pink, 80% opacity */
	);
	padding: 3rem;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

p {
	font-size: 1.6rem;
	margin: 20px 0;
}

h1, h2 {
	font-size: 3rem;
	margin: 0;
}

.main {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1),
		/* white, 10% opacity */ rgba(255, 204, 217, 0.1) /* pink, 10% opacity */
	);
	padding: 3rem;
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	display: none;
}

button {
	padding: 15px 25px;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 10px;
	/* for a valentine-y style */
	border: none;
	border-radius: 50px; /* makes pill-shaped buttons */
	background: linear-gradient(to right, #ff1d1d, #c90000);
	color: white;
	font-weight: bold;
	box-shadow: 0 5px 15px rgba(255, 76, 104, 0.4);
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}
button:hover {
	transform: scale(1.1) rotate(-2deg);
	box-shadow: 0 10px 20px rgba(255, 76, 104, 0.5);
}

#noBtn {
	position: absolute;
	transition:
		top 0.3s ease,
		left 0.3s ease;
}

#outro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1),
		/* white, 10% opacity */ rgba(255, 204, 217, 0.1) /* pink, 10% opacity */
	);
	padding: 3rem;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	display: none;
}

footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

footer p {
	font-size: 1.2rem;
}

@media (max-width: 768px) {
    #intro, #intro2, .main, #outro {
        width: 80%;
        padding: 1.5rem;
    }
    button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    h1, h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
}